# Server Configuration
PORT=3000

# MongoDB Configuration
# Example: mongodb://localhost:27017/unifurniture
MONGO_URI=your_mongodb_uri_here

# Vonage Configuration (SMS OTP)
VONAGE_API_KEY=your_api_key_here
VONAGE_API_SECRET=your_api_secret_here
